$primaryColor: rgb(138, 194, 129);
$navbarColor: rgba(97, 97, 97, 0.811);
$headFont: "Noto Sans JP", sans-serif;
$subheadFont: "Fira Sans", sans-serif;
$desktopWidth: 1440px;

// NAV BAR
.navbar {
  background-color: $navbarColor;
}
.fa-address-book {
  font-size: 30px;
  color: $primaryColor;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: $primaryColor;
}
.contactbook {
  font-family: $headFont;
  font-weight: 700;
}
img {
  width: 35px;
  height: 35px;
  border-radius: 1em;
}

// BODY
body {
  max-width: $desktopWidth;
  overflow-x: hidden;
}
